@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Heavy.woff') format('woff');
    font-weight: 800; /* Heavy */
    font-style: normal;
  }

  
body {
  @apply font-sans; /* Apply Gilroy globally */
  background-color: #F8FAFC;
}




@keyframes marquee {
  0% {
    transform: translateX(61%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}


.blinking {
  animation: blink 1.5s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}




/* Hero.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Animation classes */
.fade-in {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

.bounce {
  animation: bounce 1s infinite ease-in-out;
}
